@* @{
    ViewData["Title"] = "Cadastro de Alunos";
}
<h1>@ViewData["Title"]</h1> *@

<style>
    body {
        background-color: #f2f2f2;
    }

    .centered {
        text-align: center;
    }

</style>

<link rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css' />

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


@* <p>Bem vindo(a) a página de Cadastro de Alunos</p> *@
<div class="centered">
    <img src="@Url.Content("~/imagens/logo.png")" alt="Logo" width="auto" height="130">
</div>

<br />



<script>
    
    //Salvar (insert || update)
    $(document).on('click', '#btnSalvar', function () {
        $.ajax({
            url: '/CadastroPagamentos/SalvarPagamento',
            type: "POST",
            data: {
                pagamento: {
                    FormaPagamento: $('#pagamento').val(),
                    Valor: $('#valor').val(),
                    Status: $('#status').val(),
                    DataPagamento: $('#DtPagamento').val(),
                    Nome: $('#aluno').val()
                },
                nome: $('#aluno').val()
            },
            success: function (result) {
                alert('Pagamento salvo com sucesso!');
                // window.location.reload(); // para atualizar a página, se necessário
            },
            error: function (xhr, status, error) {
                console.error('Erro ao salvar pagamento:', error);
                alert('Ocorreu um erro ao salvar o pagamento. Tente novamente mais tarde.');
            }
        });
    });


    //Botão Cancelar
    $(document).on('click', '#btnCancelar', function () {
        $('#pagamento').val('');
        $('#valor').val('');
        $('#status').val('')
        $('#DtPagamento').val('')
        $('#aluno').val('');
    });
</script>

<div class="panel panel-default">
    <div class="panel-heading">Pagamento 💳💵💰</div>
    <div class="panel-body" style="height:auto; margin-block-end:1px; ">

        <form>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="inputValor">Forma de Pagamento</label>
                    <select class="form-select form-control" id="pagamento" aria-label="Default select example">
                        <option selected>Selecione</option>
                        <option value="debito">Débito</option>
                        <option value="credito">Crédito</option>
                        <option value="pix">Pix</option>
                        <option value="dinheiro">Dinheiro</option>
                    </select>
                </div>

                <div class="form-group col-md-4">
                    <label for="inputValor">Valor</label>
                    <input type="text" class="form-control" id="valor" maxlength="50">
                </div>

                <div class="form-group col-md-4">
                    <label for="inputstatus">Status</label>
                    <input type="text" class="form-control" id="status" maxlength="20">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="inputDtPagamento">Data de Pagamento*</label>
                    <input type="date" class="form-control" id="DtPagamento" maxlength="20">
                </div>
                <div class="form-group col-md-8">
                    <label for="inputAluno">Aluno</label>
                    <input type="text" class="form-control" id="aluno" maxlength="50">
                </div>
            </div>
        </form>
    </div>
</div>


<button type="submit" class="btn btn-primary" id="btnSalvar">Salvar</button>
<button type="submit" class="btn btn-danger" id="btnCancelar">Cancelar</button>

