@{
    ViewData["Title"] = "Home Page";
}

<style>
    body {
        background-color: #f2f2f2;
    }

    .centered {
        text-align: center;
    }
</style>


<div class="centered">
    <img src="@Url.Content("~/imagens/logo.png")" alt="Logo" width="auto" height="130">   
</div>
<br />
<div style="text-align: center;">
<h1>Seja bem-vindo ao Sistema Parioca Fight</h1><br />
<h4>Um sistema de cadastros e visualização de alunos, instrutores, aulas e pagamentos.</h4><br />
<h7>Navegue pelo menu de usuarios.</h7>
</div>